<header>
  <a{% if page.url != '/' %} href="/"{% endif %}>
    <img
      src="/images/logo/256.png"
      srcset="/images/logo/512.png 2x"
      width="256" height="256"
      alt="ElevenCast">
  </a>
</header>
