{% if pagination.hrefs.length > 1 %}
  <nav>
    <ul>
      {% for pageEntry in pagination.pages %}
      <li>
        <a
          href="{{ pagination.hrefs[loop.index0] }}"
          aria-label="Page {{ loop.index }}"
          {% if page.url == pagination.hrefs[loop.index0] %}
            aria-current="page"
          {% endif %}>
          {{ loop.index }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
